#blog-header {
    padding-top: 55px;
    text-align: center;
    @include media-breakpoint-down(sm) {
        padding-top: 25px;
    }
    h1 {
        @include page-title;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 0;
    }
}


#blog-listing, #advanced-posts {
	padding-top: 50px;
    @include breakpoint (desktop) {
    }
    @include media-breakpoint-only(lg) {
    }
    @include media-breakpoint-only(md) {
    }
    @include media-breakpoint-down(sm) {
    }
    &-in {
        max-width: 1454px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
	.blog-box {
		margin-bottom: 30px;
	}
	.blog-photo {
        position: relative;
        height: 474px;
        margin-bottom: 40px;
        @include breakpoint (desktop) {
            height: 400px;
        }
        @include media-breakpoint-only(lg) {
        	height: 321px;
        }
        @include media-breakpoint-only(md) {
            height: 300px;
        }
        @include media-breakpoint-down(sm) {
        	height: 250px;
        }
        img {
            object-fit:cover;
            height: 100%;
            width: 100%;
            border-radius: 40px;
        }
        a {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            &:after {
                content: '';
                display: block;
                background-color: rgba($orange, 0.8);
                opacity: 0;
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                @include animate-fade;
                z-index: 1;
                border-radius: 40px;
            }
            &:hover {
                span {
                    opacity: 1;
                    margin-top: 0;
                }
                &:after {
                    opacity: 1;
                }
            }
            span {
                width: 64px;
                height: 64px;
                background: #fff;
                text-align: center;
                line-height: 64px;
                border-radius: 100%;
                @include centre(both);
                display: block;
                color: #000;
                font-size: 24px;
                margin-top: 20px;
                opacity: 0;
                z-index: 2;
                @include animate-fade;
                i {

                }
            }
        }
        h2 {
            position: absolute;
            top: 0;
            left: 0;
            @include subheading-font2;
            line-height: 1.364;
            color: #fff;
            margin-bottom: 15px;
            padding: 40px 50px 0px 40px;
            text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
            @include media-breakpoint-down(sm) {
                padding: 20px 30px 0px 30px;
            }
            a {
                color: inherit;
                &:hover {
                    color: $orange;
                }
            }
        }
    }
	.blog-content {
		width: 82.29%;
		margin-left: auto;
		margin-right: auto;
		margin-top: -85px;
	    position: relative;
	    background-color: #fff;
	    z-index: 1;
        border-radius: 20px;
		&--in {
			padding: 38px;
            @include media-breakpoint-only(md) {
                padding: 30px;
            }
            @include media-breakpoint-down(sm) {
                padding: 20px;
            }
		}
		p {
			font-family: $stol-reg;
            font-size: 0.813em;
            line-height: 1.692;
            color: #000;
			&:last-of-type {
				margin-bottom: 0;
			}
		}
        .read-more {
            margin-top: 15px;
            a {
                display: inline-block;
                margin-top: 5px;
                font-family: $stol-reg;
                font-size: 0.875em;
                text-align: left;
                color: $orange;
                position: relative;
                padding-right: 35px;
                &:after {
                    @include centre(y);
                    right: 5px;
                    font-family: "Font Awesome 5 Pro";
                    content: '\f105';
                    font-weight: 300;
                    font-size: 26px;
                    color: $orange;
                    @include animate-fade;
                }
                &:hover {
                    color: $dark;
                    &:after {
                        color: $dark;
                        right: 0px;
                    }
                }
            }
        }
	}
	.custom-pagination {
		margin-top: 20px;
		text-align: center;
        @include media-breakpoint-down(sm) {
        	margin-top: 0;
        }
        span.pages {
            display: none!important;
        }
        a, span {
            display: inline-block;
            margin-left: 3px;
            margin-right: 3px;
            font-family: $stol-bold;
            font-size: 1.250em;
            line-height: 1.35;
            text-align: left;
            color: #4a4444;
            border-radius: 4px;
            background: #fff;
            border: 1px solid #707070;
            text-align: center;
            height: 44px;
            line-height: 44px;
            padding-top: 0px;
            padding-bottom: 0px;
            min-width: 40px;
            @include media-breakpoint-down(sm) {

            }
            &:first-of-type {
                margin-left: 0px;
            }
            &:last-of-type {
                margin-right: 0;
            }
            &:hover {
                border-color: $orange;
                a {
                    color: #fff;
                    background-color: $orange;
                    
                }
            }
            a {
                display: block;
                color: inherit;
                width: 100%;
                height: 100%;
            }
            &.active {
                border-color: $orange;
                a {
                    color: #fff;
                    background-color: $orange;
                }
            }
            &.pagination-omission {
                margin-left: 0;
            }
        }
	}
}

#blog-detailed {
	.blog-photo {
        margin-bottom: 50px;
        text-align: center;
		img {
            border-radius: 40px;
		}
		&--description {
			margin-top: 10px;
			display: block;
			text-align: center;
            font-family: $stol-reg;
            font-size: 0.875em;
            line-height: 2;
            color: #000;
            max-width: 400px;
            margin-left: auto;
            margin-right: auto;
            width: 100%;
		}
	}
    .blog-video {
        text-align: center;
        iframe {
            max-width: 100%;
        }
    }
    .single-table {
        @include media-breakpoint-down(sm) {
            display: block;
            overflow-x: auto;
            white-space: nowrap;
        }
        th {
            border: 1px solid;
            background: rgba(238, 140, 33, 0.3);
            color: #000;
            padding: 3px 10px;
        }
        td {
            border: 1px solid;
            padding: 3px 10px;
        }
    }    
	.blog-detailed {
		&--intro {
			.col-xl-5 {
				display: flex;
    			flex-direction: column;
			}
			h1 {
		        @include page-title;
		        text-align: left;
		        margin-top: 35px;
		        margin-bottom: 100px;
		        text-transform: none;
                max-width: 972px;
                font-size: 3em;
                line-height: 1.3;
                @include breakpoint (desktop) {
                    margin-bottom: 85px;
                }
                @include media-breakpoint-only(lg) {
                    margin-bottom: 55px;
                }
                @include media-breakpoint-only(md) {
                    margin-bottom: 35px;
                }
                @include media-breakpoint-down(sm) {
                    margin-bottom: 30px;
                }
		    }
            p {
                color: #000;
                max-width: 764px;
                width: 100%;
            }
		    .blog-info {
                margin-bottom: 60px;
                @include breakpoint (desktop) {
                    margin-bottom: 60px;
                }
                @include media-breakpoint-only(lg) {
                    margin-bottom: 50px;
                }
                @include media-breakpoint-only(md) {
                    margin-bottom: 40px;
                }
                @include media-breakpoint-down(sm) {
                    margin-bottom: 20px;
                }
				span {
					display: inline-block;
					font-family: $stol-reg;
                    font-size: 0.875em;
                    line-height: 2;
                    color: #000;
                    @media (max-width: 767px) {
                        display: block;
                    }
                    &.date {
                        margin-right: 40px;
                    }
                    &.cat-link {
                        a {
                            color: $orange;
                        }
                        margin-right: 40px;
                    }
				}
			}
            .author {
                display: flex;
                margin-top: 20px;
                .author-content {
                    align-self: center;
                    a {
                        color:$orange;
                    }
                    p {
                        margin-bottom: 0;
                        font-size: 12px;
                        font-style: italic;
                        line-height: 1.3;
                    }
                }
                img {
                    width: 60px;
                    height: 60px;
                    object-fit: cover;
                    border-radius: 50%;
                    border: 2px solid;
                    margin-right: 20px;
                }
            } 
            .blog-photo {
                max-width: 360px;
                width: 100%;
                margin-right: 30px;
                margin-left: auto;
                margin-top: 65px;
                @include media-breakpoint-down(sm) {
                    margin-top: 0;
                }
                img {
                    display: block;
                    margin-left: auto;
                }
            }
		}
		&--body {
            .blog-intro-circle {
                width: 180px;
                height: 180px;
                background: $orange;
                border-radius: 50%;
                @include media-breakpoint-down(md) {
                    display: none;
                }
            }
			.intro {
				p {
					color: #000;
				}
			}
			.blog-photo {
				margin-top: 50px;
                img {
                    @media (min-width: 1900px) {
                        max-width: 800px;
                    }
                }
                @include media-breakpoint-only(md) {
                    max-width:500px;
                    margin-left: auto;
                    margin-right: auto;
                }
			}
			h2 {
				@include subheading-font;
				margin-top: 95px;
				margin-bottom: 35px;
                max-width: 852px;
                width: 100%;
                @include breakpoint (desktop) {
                    margin-top: 85px;
                }
                @include media-breakpoint-only(lg) {
                    margin-top: 75px;
                }
                @include media-breakpoint-only(md) {
                    margin-top: 65px;
                }
                @include media-breakpoint-down(sm) {
                    margin-top: 55px;
                }
			}
			h3 {
				@include subheading-font2;
				margin-top: 50px;
                margin-bottom: 45px;
                @include breakpoint (desktop) {
                    margin-top: 40px;
                    margin-bottom: 35px;
                }
                @include media-breakpoint-only(lg) {
                    margin-top: 40px;
                    margin-bottom: 25px;
                }
                @include media-breakpoint-only(md) {
                    margin-top: 40px;
                    margin-bottom: 25px;
                }
                @include media-breakpoint-down(sm) {
                    margin-top: 40px;
                    margin-bottom: 25px;
                }
			}
            h4 {
                @include subheading-font3;
                margin-top: 40px;
                margin-bottom: 35px;
                @include media-breakpoint-only(lg) {
                    margin-top: 40px;
                    margin-bottom: 25px;
                }
                @include media-breakpoint-only(md) {
                    margin-top: 40px;
                    margin-bottom: 25px;
                }
                @include media-breakpoint-down(sm) {
                    margin-top: 40px;
                    margin-bottom: 25px;
                }
            }
            .blog-circles {
                text-align: right;
                @include media-breakpoint-down(md) {
                    display: none;
                }
                img {
                    margin-top: 90px;
                }
            }
            p {
                width: 100%;
                a {
                    color:$orange;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
            ul {
                li {
                    display: block;
                    padding-left: 25px;
                    margin-bottom: 7px;
                    font-size: 14px;
                    color: rgba(0,0,0,0.5);
                    position: relative;
                    &:before {
                        content:'';
                        width: 5px;
                        height: 5px;
                        background:$orange;
                        position: absolute;
                        left:0px;
                        top:8px;
                    }
                    a {
                        color:$orange;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
            .blog-locations {
                margin-top: 80px;
                @include breakpoint (desktop) {
                    margin-top: 75px;
                }
                @include media-breakpoint-only(lg) {
                    margin-top: 75px;
                }
                @include media-breakpoint-only(md) {
                    margin-top: 65px;
                }
                @include media-breakpoint-down(sm) {
                    margin-top: 55px;
                }
                .col-xl-6 {
                    &:nth-of-type(even) {
                        .location-box {
                            margin-left: auto;
                        }
                    }
                }
                h4 {
                    text-align: center;
                    margin-bottom: 110px;
                    @include breakpoint (desktop) {
                        margin-bottom: 95px;
                    }
                    @include media-breakpoint-only(lg) {
                        margin-bottom: 85px;
                    }
                    @include media-breakpoint-only(md) {
                        margin-bottom: 65px;
                    }
                    @include media-breakpoint-down(sm) {
                        margin-bottom: 55px;
                    }
                }
                .location-box {
                    max-width: 620px;
                    width: 100%;
                    margin-bottom: 100px;
                    @include breakpoint (desktop) {
                        margin-bottom: 95px;
                    }
                    @include media-breakpoint-only(lg) {
                        margin-bottom: 85px;
                    }
                    @include media-breakpoint-only(md) {
                        margin-bottom: 65px;
                    }
                    @include media-breakpoint-down(sm) {
                        margin-bottom: 55px;
                    }
                    h2 {
                        margin-top: 0;
                        margin-bottom: 45px;
                        @include media-breakpoint-only(md) {
                            margin-bottom: 35px;
                        }
                        @include media-breakpoint-down(sm) {
                            margin-bottom: 25px;
                        }
                    }
                    img {
                        border-radius: 40px;
                        margin-top: 30px;
                        object-fit: cover;
                        height: 413px;
                        @include breakpoint (desktop) {
                            height: 360px;
                        }
                        @include media-breakpoint-only(lg) {
                            height: 300px;
                        }
                        @include media-breakpoint-only(md) {
                            height: 220px;
                        }
                        @include media-breakpoint-down(sm) {
                            height: auto;
                        }
                    }
                    p {
                        &:last-of-type {
                            margin-bottom: 0;
                        }
                    }
                }
            }
		}
		&--accordion {
			margin-top: 25px;
			margin-bottom: 40px;
            .wrap {
                padding-left: 35px;
                border-bottom: 1px solid #ddd;
                @include media-breakpoint-only(md) {
                    padding-left: 0px;
                }
                &:nth-of-type(even) {
                    @include media-breakpoint-only(md) {
                        margin-right: 0;
                    }
                }
                &:after {
                    content: '';
                    display: table;
                    clear: both;
                }
                @include media-breakpoint-down(sm) {
                    display: block;
                    width: 100%;
                    margin-right: 0;
                    padding-left: 0;
                }
            }
			h4 {
		    	font-family: $stol-bold;
                font-size: 1.125em;
                line-height: 1.555;
                text-align: left;
                color: rgba(#000, .5);
				background-color: #fff;
				position: relative;
		        padding: 20px 35px 20px 0px;
                margin: 0;
                border:0;
                position: relative;
		        @include breakpoint (desktop) {
		        }
		        @include media-breakpoint-only(lg) {

			    }
			    @include media-breakpoint-only(md) {

			    }
			    @include media-breakpoint-down(sm) {
			    }
		        &:hover {
		            cursor: pointer;
		            color: #000;
		        }
		        &:focus {
		            outline: none!important;
		        }
		        &:after {
		            font-family: "Font Awesome 5 Pro";
		            content: "\f067";
		           	@include centre(y);
		            right: 0px;
		            font-size: 1.125em;
		            font-weight: 900;
		            color: #2D2D2D;
		            @include animate-fade;
			        @include breakpoint (desktop) {
			        }
			        @include media-breakpoint-only(lg) {
				    }
				    @include media-breakpoint-only(md) {
				    }
				    @include media-breakpoint-down(sm) {
				    }
		        }
		        &.ui-state-active {
		            &:after {
		                -webkit-transform: translateY(-50%) rotate(45deg);
					    -moz-transform: translateY(-50%) rotate(45deg);
					    -ms-transform: translateY(-50%) rotate(45deg);
					    -o-transform: translateY(-50%) rotate(45deg);
					    transform: translateY(-50%) rotate(45deg);
		            }
		        }
		    }
			.ui-accordion-content {
				padding: 22px 19px;
				padding-top: 12px;
				border:0;
                float: left;
				p {
					&:last-of-type {
						margin-bottom: 0;
					}
				}
			}
		}
	}
    .blog-detailed--accordion-wrap {
        margin-top: 30px;
        margin-bottom: 60px;
        @include media-breakpoint-down(sm) {
            margin-top: 0;
            margin-bottom: 0;
        }
        h3 {
            margin-top: 30px;
        }
        .blog-photo {
            margin-top: 0px;
            @include media-breakpoint-only(lg) {
                width: 400px;
            }
        }
        .blog-video {
            text-align: center;
            iframe {
                max-width: 100%;
            }
        }
    }
    .discover {
        margin-top: 100px;
        @include breakpoint (desktop) {
            margin-top: 85px;
        }
        @include media-breakpoint-only(lg) {
            margin-top: 65px;
        }
        @include media-breakpoint-only(md) {
            margin-top: 55px;
        }
        @include media-breakpoint-down(sm) {
            margin-top: 45px;
        }
        h3 {
            margin-top: 0!important;
        }
        .blog-photo {
            margin-top: 0;
            margin-bottom: 30px;
        }
        .blog-video {
            text-align: center;
            iframe {
                max-width: 100%;
            }
        }        
    }
}

// Featured Article 

.featured-article {
    .blog-box {
        background-color: $orange;
        padding: 40px;
        border-radius: 40px;
        margin: 30px 0;
        .blog-photo {
            display: inline-block;
            width: 30%;
            vertical-align: middle;
            margin: 0 !important;
            margin-right: 30px;
            @include media-breakpoint-down(sm) {
                width: 100%;
                margin-bottom: 20px !important;
            }
            img {
                max-width: 100% !important; 
            }
        }
        .blog-content {
            display: inline-block;
            width: 60%;
            vertical-align: middle;
            margin-left: 30px;
            @include media-breakpoint-down(sm) {
                margin-left: 0;
                width: 100%;
                text-align: center;
            }
            h3 {
                margin-top: 0 !important;
                font-size: 1.8em !important;
                @include media-breakpoint-down(sm) {
                    text-align: center;
                    margin-bottom: 35px !important;
                    font-size: 1.2em !important;
                }
            }
            .read-more {
                display: inline-block;
                @include media-breakpoint-down(sm) {
                    text-align: center;
                }
                a {
                    background-color: $black;
                    padding: 20px 40px;
                    color: $white;
                    border-radius: 25px;
                }
            }
        }
    }
}

// Services Module 

.services-list-blog {
    display: flex;
    justify-content: center;
    margin: 30px 0;
    @include media-breakpoint-down(sm) {
        display: block;
    }
    a {
        transition: 0.25s ease-in-out;
        &:hover {
            .service-box {
                background-color: $orange;
                .service-box-in {
                    .service-ico {
                        img {
                            -ms-transform: scale(1.1); /* IE 9 */
                            -webkit-transform: scale(1.1); /* Safari 3-8 */
                            transform: scale(1.1);
                        }
                    }
                    .service-text {
                        h3 {
                            color: $white !important;
                        }
                        p {
                            color: $white;
                        }
                        .read-more {
                            margin-top: 15px;
                            color: $white;
                        }
                    }
                }
            }
        }
    }
    .service-box {
        padding: 20px;
        transition: 0.25s ease-in-out;
        margin: 0 10px;
        border: 1px solid $orange;
        border-radius: 40px;
        @include media-breakpoint-down(sm) {
            margin-bottom: 20px;
        }
        .service-box-in {
            text-align: center;
            .service-ico {
                margin-bottom: 20px;
                img {
                    transition: 0.25s ease-in-out;
                }
            }
            .service-text {
                h3 {
                    font-size: 1.3em !important;
                    margin-top: 10px !important;
                    margin-bottom: 15px !important;
                    color: $orange !important;
                }
                p {
                    line-height: 1.6;
                    margin-bottom: 10px;
                }
                .read-more {
                    margin-top: 15px;
                    color: $orange;
                }
            }
        }
    }
}

// CTA
.quote-cta--single {
    padding:35px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #25242A;
    @include media-breakpoint-down(sm) {
        display: block;
        padding:25px;
        text-align: center;
    }
    span.title {
        display: block;
        width: 65%;
        color:$white;
        font-size: 40px;
        margin-right: 20px;
        line-height: 1.2;
        @include media-breakpoint-down(sm) {
            margin-right: 0px;
            margin-bottom: 20px;
            font-size: 30px;
            width: 100%;
        }
    }
    a.btn-cta {
        @include orange-btn;
        width: 240px;
        line-height: 86px;
        @include media-breakpoint-only(lg) {
            line-height: 75px;
        }
        @include media-breakpoint-only(md) {
            line-height: 65px;
        }
        @include media-breakpoint-down(sm) {
            width: 100%;
            display: block;
            line-height: 55px;
        }
    }
}

#bottom-form {
    margin-bottom: 60px;
    margin-top: 40px;
    #quote-intro {
        box-shadow: 0px 40px 76px rgb(0 0 0 / 8%);
        padding:50px;
        border-radius: 20px;
        padding-top: 50px;
        padding-bottom: 50px;
        @include media-breakpoint-down(sm) {
            padding:30px;
        }
    }
    h2 {
        text-align: center;
        @include page-title;
        text-transform: uppercase;
        margin-bottom: 50px;     
        @include media-breakpoint-down(sm) {
            font-size: 32px;
        }       
    }    
}

.blog-metas {
    margin-bottom: 30px;
        span {
            display: inline-block;
            font-family: $stol-reg;
            font-size: 0.875em;
            line-height: 2;
            color: #000;
            @media (max-width: 767px) {
                display: block;
            }
            &.date {
                margin-right: 40px;
            }
            &.cat-link {
                a {
                    color: $orange;
                }
                margin-right: 40px;
            }
        }
    .author a {
        color:$orange;
    }    
}

#advanced-posts {
    padding: 20px 0;
    .blog-photo {
        height: 200px;
        margin-bottom: 20px;
        img {
            border-radius: 20px;
        }
        a {
            &:after {
                border-radius: 20px;
            }
        }
    }
    .blog-content {
        .blog-content--in {
            padding: 0;
        }
        width: 100%;
        margin-top: 0;
    }
    h2 {
        margin-bottom: 20px;
    }
    h3 {
        font-size: 1.3rem;
        margin-bottom: 0;
        color: #000;
    }
}

// Featured Article
#featured-main {
    position: relative;
    // intro
    .intro-content {
        position: relative;
        margin-bottom: 100px;
        overflow: hidden;
        @include media-breakpoint-down(sm) {
            margin-bottom: 50px;
        }
        .blog-intro-circle {
            width: 180px;
            height: 180px;
            background: #EE8C21;
            border-radius: 50%;
            position: absolute;
            top:-50px;
            right:-200px;
        }
        p {
            font-size: 18px;
        }
    }
    // dark
    .content-dark {
        background-color: #25242A;
        padding-top: 155px;
        padding-bottom: 115px;
        position: relative;   
        margin-bottom: 50px; 
        @include media-breakpoint-down(sm) {
            padding-top: 50px;
            padding-bottom: 50px;
        }
        .container {
            position: relative;
            .orange-circle-big {
                position: absolute;
                left: calc(50% + 55px);
                top: -180px;
                z-index: 1;     
                @include media-breakpoint-down(sm) {
                    display: none;
                }          
            }
        }
        &:after {
            position: absolute;
            bottom: 100px;
            right: 0;
            content: '';
            display: block;
            width: 44vw;
            height: 1px;
            background: $orange;
            opacity: 0.5;
            @include media-breakpoint-down(lg) {
                top: 400px;
            }
            @include media-breakpoint-down(sm) {
                display: none!important;
            }
        }
        &:before {
            content: '';
            display: block;
            width: 148px;
            height: 148px;
            background: $orange;
            border-radius: 0 0 100% 100%;
            position: absolute;
            bottom: -74px;
            right: 20.31%;
            z-index: -1;
            @include media-breakpoint-down(sm) {
                width: 70px;
                height: 70px;
                bottom: -35px;
            }
        }   
        
        figure.alignnone img {
            border: 2px solid #EE8C21;
            border-radius: 40px;
            padding: 10px;
            object-fit: cover;
            height: 480px;
            width: 100%;
        }

        figure {
            margin-bottom: 30px;
            figcaption {
                display: block;
                padding-top: 10px;
                text-align: center;
                color:$white;
                font-size: 15px;
            }
        }

        h2 {
            margin-bottom: 60px;
            font-size: 3em;
            color:$white;
            &:after {
                width: 400px;
                height: 3px;
                background:$orange;
                display: block;
                margin-top: 20px;
                content:'';
                @include media-breakpoint-down(md) {
                    width: 250px;
                }
            }
            @include media-breakpoint-only(md) {
               margin-bottom: 40px;
            }
            @include media-breakpoint-down(sm) {
               margin-bottom: 30px;
               font-size: 2em;
            }            
        }
        h3 {
            color:$orange;
            font-size: 2em;
            margin-bottom: 30px;
            @include media-breakpoint-down(sm) {
                font-size: 1.75em;
            }            
        }
        h4 {
            @include subheading-font3;
            margin-bottom: 35px;
            color:$white;
            @include media-breakpoint-only(lg) {
                margin-bottom: 25px;
            }
            @include media-breakpoint-only(md) {
                margin-bottom: 25px;
            }
            @include media-breakpoint-down(sm) {
                margin-bottom: 25px;
            }            
        }
        p {
            color: rgba(255,255,255,0.5);
            a {
                color:$orange;
                &:hover {
                    color:$white;
                }
            }
        }  
        ul {
            padding-left: 20px;
            margin-bottom: 25px;
            @include list-style;
            li {
                color:rgba(255, 255, 255, 0.5);
                a {
                    color:$orange;
                    &:hover {
                        color:$white;
                    }                    
                }                
                &:before {
                    color:$orange;
                }
            }
        }            
    }
    // text holder
    .text-holder {
        margin-top: 50px;
        margin-bottom: 50px;
        @include media-breakpoint-down(sm) {
            margin-top: 30px;
            margin-bottom: 30px;
        }
        p {
            a {
                color:$orange;
                &:hover {
                    color:$black;
                }
            }
        }
        h2 {
            margin-bottom: 60px;
            font-size: 3em;
            &:after {
                width: 400px;
                height: 3px;
                background:$orange;
                display: block;
                margin-top: 20px;
                content:'';
                @include media-breakpoint-down(md) {
                    width: 200px;
                }
            }            
            @include media-breakpoint-only(md) {
               margin-bottom: 40px;
            }
            @include media-breakpoint-down(sm) {
               margin-bottom: 30px;
               font-size: 2em;
            }               
        }
        h4 {
            @include subheading-font3;
            margin-top: 40px;
            margin-bottom: 35px;
            @include media-breakpoint-only(lg) {
                margin-top: 40px;
                margin-bottom: 25px;
            }
            @include media-breakpoint-only(md) {
                margin-top: 40px;
                margin-bottom: 25px;
            }
            @include media-breakpoint-down(sm) {
                margin-top: 40px;
                margin-bottom: 25px;
            }
        }
        h3 {
            color:$orange;
            font-size: 2em;
            margin-bottom: 30px;
            @include media-breakpoint-down(sm) {
                font-size: 1.75em;
            }
        }
        ul {
            padding-left: 20px;
            margin-bottom: 25px;
            @include list-style;
            li {
                a {
                    color:$orange;
                    &:hover {
                        color:$black;
                    }                    
                }                
                &:before {
                    color:$orange;
                }
            }
        }
    }
    // image
    .image-holder {
        margin-top: 30px;
        margin-bottom: 50px;
        @include media-breakpoint-down(sm) {
            margin-bottom: 30px;
        }
        img {
            border: 2px solid #EE8C21;
            border-radius: 40px;
            padding: 10px;
            object-fit: cover;
            height: 480px;
            width: 100%;
            @include media-breakpoint-down(sm) {
                height: 350px;
            }
        }
        small {
            display: block;
            text-align: center;
            font-size: 15px;
            display: block;
            padding-top: 10px;
            text-align: center;
            font-size: 15px;            
        }
    }
    // video holder
    .video-holder {
        margin-top: 30px;
        margin-bottom: 30px;
        @include media-breakpoint-down(md) {
            margin-top: 20px;
            margin-bottom: 20px;
        }
        iframe {
            width: 70%;
            display: block;
            margin:0px auto;
            height: 420px;
            border: 2px solid #EE8C21;
            border-radius: 40px;
            padding: 10px;      
            @include media-breakpoint-down(md) {
                width: 100%;
                height: 300px;
            }      
        }
    }
    // Voide light
    .text-light {
        margin-top: 75px;
        margin-bottom: 50px;
        padding-top: 80px;
        padding-bottom: 80px;
        background: rgba(223,233,241,0.63);    
        @include media-breakpoint-down(md) {    
            margin-top: 50px;
        }
        .alignright {
            float:right;
            width: 450px!important;
            margin-left: 30px;
            margin-bottom: 30px;
            text-align: center;
            @include media-breakpoint-down(md) {
                float:none;
                margin:0px;
                margin-left: 0px;
                margin-bottom: 40px;
            }
            img {
                width: 100%;
                display: block;
                margin-left: auto;
                border-radius: 40px;
                border: 10px solid #fff;    
                object-fit: cover;                 
            }   
            figcaption {
                font-size: 14px;
                display: block;
                padding-top: 10px;
                color:$black;
                padding-left: 15px;
                padding-right: 15px;
                @include media-breakpoint-down(md) {
                    margin-bottom: 30px;
                }
            }    
        }    
        img.alignright {
            width: 100%;
            display: block;
            margin-left: auto;
            border-radius: 40px;
            border: 10px solid #fff;    
            object-fit: cover;       
            margin-left: 30px;
            margin-bottom: 30px;        
            @include media-breakpoint-down(md) {
                display: block;
                float:none;
                margin:0px;
                margin-bottom: 30px;
            }
        }    
        .text-holder--light {
            h2 {
                margin-bottom: 60px;
                font-size: 3em;
                color:$black;
                &:after {
                    width: 400px;
                    height: 3px;
                    background:$orange;
                    display: block;
                    margin-top: 20px;
                    content:'';
                    @include media-breakpoint-down(md) {
                        width: 200px;
                    }
                }                
                @include media-breakpoint-only(md) {
                   margin-bottom: 40px;
                }
                @include media-breakpoint-down(sm) {
                   margin-bottom: 30px;
                   font-size: 2em;
                }            
            }
            h4 {
                @include subheading-font3;
                margin-top: 40px;
                margin-bottom: 35px;
                @include media-breakpoint-only(lg) {
                    margin-top: 40px;
                    margin-bottom: 25px;
                }
                @include media-breakpoint-only(md) {
                    margin-top: 40px;
                    margin-bottom: 25px;
                }
                @include media-breakpoint-down(sm) {
                    margin-top: 40px;
                    margin-bottom: 25px;
                }
            }
            h3 {
                color:$orange;
                font-size: 2em;
                margin-bottom: 30px;
                @include media-breakpoint-down(sm) {
                    font-size: 1.75em;
                }                
                color:rgb(37, 36, 42);                
            }     
            p {
                a {
                    color:$orange;
                    &:hover {
                        color:$black;
                    }
                }
            }       
            ul {
                margin-bottom: 50px;
                li {
                    display: block;
                    padding-left: 25px;
                    margin-bottom: 7px;
                    font-size: 14px;
                    color: rgba(0,0,0,0.5);
                    position: relative;
                    line-height: 2;
                    &:before {
                        content:'';
                        width: 5px;
                        height: 5px;
                        background:$orange;
                        position: absolute;
                        left:0px;
                        top:8px;
                    }
                    a {
                        color:$orange;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }             
        }
        .container {
            position: relative;
            .circles {
                top: 60px;
                right: -12px;
                position: absolute;
                z-index: -1;
                @include media-breakpoint-down(sm) {
                    right: 15px;
                }
            }            
        }
    }
    // pros and cons
    .pros-wrapper {
        margin-bottom: 50px;
        .pros-card {
            border:1px solid rgba(37,36,42,0.2);
            padding:25px;
            border: 2px solid #EE8C21;
            border-radius: 40px;
            h4 {
                @include subheading-font3;
                margin-bottom: 35px;
                @include media-breakpoint-only(lg) {
                    margin-bottom: 25px;
                }
                @include media-breakpoint-only(md) {
                    margin-bottom: 25px;
                }
                @include media-breakpoint-down(sm) {
                    margin-bottom: 25px;
                }
            }
            ul {
                @include  list-style;
                list-style-type: disc;
                list-style-position: inside;
                li {
                    padding-bottom: 5px;
                    padding-top: 5px;
                    &:before {
                        display: none;
                    }
                    a {
                        color:$orange;
                        &:hover {
                            color:$black;
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
    // side images
    .side-wrapper {
        margin-top: 50px;
        margin-bottom: 50px;
        .content-block {
            h2 {
                margin-bottom: 60px;
                font-size: 3em;
                &:after {
                    width: 400px;
                    height: 3px;
                    background:$orange;
                    display: block;
                    margin-top: 20px;
                    content:'';
                    @include media-breakpoint-down(md) {
                        width: 200px;
                    }
                }            
                @include media-breakpoint-only(md) {
                   margin-bottom: 40px;
                }
                @include media-breakpoint-down(sm) {
                   margin-bottom: 30px;
                   font-size: 2em;
                }                 
            }
            h3 {
                color:$orange;
                font-size: 2em;
                margin-bottom: 30px;
                @include media-breakpoint-down(sm) {
                    font-size: 1.75em;
                }                 
            }
            h4 {
                @include subheading-font3;
                margin-bottom: 35px;
                @include media-breakpoint-only(lg) {
                    margin-bottom: 25px;
                }
                @include media-breakpoint-only(md) {
                    margin-bottom: 25px;
                }
                @include media-breakpoint-down(sm) {
                    margin-bottom: 25px;
                }
            }
            p {
                a {
                    color:$orange;
                    &:hover {
                        color:$black;
                    }
                }
            }
        }
        .side-images {
            .image {
                margin-bottom: 30px;
                @include media-breakpoint-down(md) {
                    margin-bottom: 15px;
                }
            }
            img {
                display: block;
                border-radius: 40px;                
                width: 100%;
                object-fit: cover;
                @include media-breakpoint-down(md) {
                    height: 300px;
                }
            }
            .caption {
                display: block;
                display: block;
                padding-top: 10px;
                text-align: center;
                font-size: 15px;                
            }
        }
    }
    // content wrapper
    .content-wrapper {
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
        @include media-breakpoint-down(md) {
            display: block;
            margin-bottom: 30px;
        }
        .content-left {
            width: 50%;
            padding-right: 40px;
            @include media-breakpoint-down(md) {
                padding-right: 0px;
                width: 100%;
                margin-bottom: 30px;
            }
        }
        .content-right {
            width: 50%;
            @include media-breakpoint-down(md) {
                width: 100%;
            }
        }
        h3 {
            color:$orange;
            font-size: 2em;
            margin-bottom: 30px;
            @include media-breakpoint-down(sm) {
                font-size: 1.75em;
            }              
        }
        iframe {
            width: 100%;
            display: block;
            margin:0px auto;
            height: 380px;
            border: 2px solid #EE8C21;
            border-radius: 40px;
            padding: 10px;            
        }       
        img {
            width: 100%;
            display: block;
            margin:0px auto;
            height: 380px;
            border: 2px solid #EE8C21;
            border-radius: 40px;
            padding: 10px;         
            object-fit: cover;      
        } 
        p {
            a {
                color:$orange;
                &:hover {
                    color:$black;
                    text-decoration: underline;
                }
            }
        }
    }

    .blog-detailed--accordion {
        margin-top: 25px;
        margin-bottom: 40px;
        .wrap {
            padding-left: 35px;
            border-bottom: 1px solid #ddd;
            @include media-breakpoint-only(md) {
                padding-left: 0px;
            }
            &:nth-of-type(even) {
                @include media-breakpoint-only(md) {
                    margin-right: 0;
                }
            }
            &:after {
                content: '';
                display: table;
                clear: both;
            }
            @include media-breakpoint-down(sm) {
                display: block;
                width: 100%;
                margin-right: 0;
                padding-left: 0;
            }
        }
        h4 {
            font-family: $stol-bold;
            font-size: 1.125em;
            line-height: 1.555;
            text-align: left;
            color: rgba(#000, .5);
            background-color: #fff;
            position: relative;
            padding: 20px 35px 20px 0px;
            margin: 0;
            border:0;
            position: relative;
            @include breakpoint (desktop) {
            }
            @include media-breakpoint-only(lg) {

            }
            @include media-breakpoint-only(md) {

            }
            @include media-breakpoint-down(sm) {
            }
            &:hover {
                cursor: pointer;
                color: #000;
            }
            &:focus {
                outline: none!important;
            }
            &:after {
                font-family: "Font Awesome 5 Pro";
                content: "\f067";
                   @include centre(y);
                right: 0px;
                font-size: 1.125em;
                font-weight: 900;
                color: #2D2D2D;
                @include animate-fade;
                @include breakpoint (desktop) {
                }
                @include media-breakpoint-only(lg) {
                }
                @include media-breakpoint-only(md) {
                }
                @include media-breakpoint-down(sm) {
                }
            }
            &.ui-state-active {
                &:after {
                    -webkit-transform: translateY(-50%) rotate(45deg);
                    -moz-transform: translateY(-50%) rotate(45deg);
                    -ms-transform: translateY(-50%) rotate(45deg);
                    -o-transform: translateY(-50%) rotate(45deg);
                    transform: translateY(-50%) rotate(45deg);
                }
            }
        }
        .ui-accordion-content {
            padding: 22px 19px;
            padding-top: 12px;
            border:0;
            float: left;
            p {
                &:last-of-type {
                    margin-bottom: 0;
                }
                a {
                    color:$orange;
                    &:hover {
                        color:$black;
                    }
                }
            }
        }
    }

}

#side-nav {
    position: sticky;
    position: absolute;
    width: 300px;
    top:20%;
    left:5vw;
    background:$orange;
    border-radius: 40px;
    padding:30px;
    z-index:100;
    box-shadow: 0px 40px 76px rgba(0, 0, 0, 0.18);
    @include breakpoint(desktop) {
        left:2vw;
    }
    @media screen and (min-width:1200px) and (max-width:1300px) {
        left:20px;
        width: 260px;
        padding-left: 25px;
        padding-right: 15px;
    }
    @include media-breakpoint-only(lg) {
        left:10px;
        padding-left: 25px;
        padding-right: 15px;
        width: 260px;
        border-radius: 20px;
    }
    @include media-breakpoint-down(sm) {
        @include clear-pos;
        width: 90%;
        margin:0px auto;
        margin-bottom: 50px;
    }
    h4 {
        text-transform: uppercase;
        font-size: 18px;
        color:$white;
        margin-bottom: 15px;
    }
    ul {
        li {
            display: block;
            margin-bottom: 6px;
            a {
                color:$white;
                font-size: 14px;
                font-family: $stol-reg;
                font-family: $font-main;
                &:hover {
                    opacity: 0.6;
                }
            }
        }
    }
    // &.stick {
    //     position: sticky;
    //     top:20%;
    // }
}

.nav-holder {
    position: sticky;
    top:20%;
    left:0px;
    z-index:999;
    @include media-breakpoint-only(md) {
        display: none;
    }
    @include media-breakpoint-down(sm) {
        position: relative;
        top:auto;
    }
}
.blog-filters {
    margin-top: 75px;
    margin-bottom: 29px;
    @include media-breakpoint-down(lg) {
        margin-top: 40px;
    }
    ul {
        li {
            display: inline-block;
            vertical-align: middle;
            margin-right: 25px;
            margin-bottom: 15px;
            @include media-breakpoint-down(sm) {
                margin-top: 5px;
                margin-bottom: 5px;
                margin-right: 10px;
            }
            &:last-of-type {
                margin-right: 0;
            }
            a {
                display: block;
                color: #fff;
                border-radius: 8px;
                background-color: $black;
                padding: 3px 32px;
                padding-top: 5px;
                text-transform: uppercase;
                text-align: center;
                &.active, &:hover {
                    background-color: $orange;
                }
                @include media-breakpoint-down(sm) {
                    font-size: 0.7em;
                }
            }
        }
    }
}

#post-nav {
    margin-bottom: 50px;
    .container {
        width: 100%;
        position: relative;
    }
    .post-wrapper {
        position: relative;
        background: #ecf2f6;
        padding:35px;
        border-radius: 40px;
    }
    .slider-nav {
        button {
            width: 40px;
            height: 40px;
            background: $dark2;
            border:0;
            padding: 0;
            border-radius: 50%;
            display: inline-block;
            @include animate-fade;
            z-index:1040;
            &.prev-arrowx {
                left:25px;
                @include centre(y);
            }
            &.next-arrowx {
                right:25px;
                left:auto;
                @include centre(y);
            }
            i {
                color: #fff;
                text-align: center;
                font-size: 24px;
            }
            &:hover {
                background-color: $orange;
            }
        }
    } 
    #nav-slider {
        .item {
            .nav-col {
                text-align: center;
                &:hover {
                    span {
                        color:$orange;
                    }
                }
                .icon {
                    margin:0px auto;
                    width: 66px;
                    height: 66px;
                    border-radius: 16px;
                    background: $orange;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    img {
                        @include centre(both);
                        filter: brightness(0) invert(1);
                    }                
                }
                span {
                    display: block;
                    margin-top: 15px;
                    font-family: $stol-med;
                    font-size: 1em;
                    line-height: 1.222;
                    color: $dark2;
                    @include animate-fade;
                    @include media-breakpoint-down(sm) {
                        font-size: 1em;
                    }                    
                }
            }
        }
    }    
}
