//Contact Page
#contact-inner {
    padding-top: 30px;
    padding-bottom: 185px;
    background: url(../img/bg/contact-bg.svg) top 95px center no-repeat;
    position: relative;
    @include breakpoint (desktop) {
        padding-bottom: 140px;
    }
    @include media-breakpoint-only(lg) {
        padding-bottom: 80px;
    }
    @include media-breakpoint-only(md) {
        padding-bottom: 50px!important;
    }
    @include media-breakpoint-down(sm) {
        padding-bottom: 40px!important;
    }
    &:after {
        content: '';
        display: block;
        width: 180px;
        height: 180px;
        background: #ee8c21;
        opacity: 0.62;
        position: absolute;
        bottom: -70px;
        left: calc(50% + 55px);
        border-radius: 50%;
        @include media-breakpoint-down(lg) {
            display: none;
        }
    }
    @include media-breakpoint-down(sm) {
        padding-top: 30px;
        padding-bottom: 90px;
    }
    h1 {
        @include page-title;
        margin-bottom: 120px;
        text-align: center;
        text-transform: uppercase;
        @include breakpoint (desktop) {
            margin-bottom: 100px;
        }
        @include media-breakpoint-only(lg) {
            margin-bottom: 80px;
        }
        @include media-breakpoint-only(md) {
            margin-bottom: 60px;
        }
        @include media-breakpoint-down(sm) {
            margin-bottom: 50px;
        }
    }
    .contact-title {
        display: block;
        @include subheading-font;
        font-family: $stol-bold;
        margin-bottom: 50px;
        @include media-breakpoint-only(lg) {
            margin-bottom: 40px;
        }
        @include media-breakpoint-only(md) {
            margin-bottom: 30px;
        }
        @include media-breakpoint-down(sm) {
            margin-bottom: 20px;
        }
    }

    .contact-in {
        max-width: 1270px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        .contact-icons {
            margin-top: 15px;
            @include media-breakpoint-down(md) {
                margin-top: 40px;
            }
            a {
                padding-left: 100px;
                position: relative;
                font-family: $stol-reg;
                font-size: 1.438em;
                line-height: 1.217;
                text-align: left;
                color: #040000;
                display: block;
                margin-bottom: 68px;
                @include breakpoint (desktop) {
                    font-size: 1.3em;
                    padding-left: 90px;
                    margin-bottom: 60px;
                }
                @include media-breakpoint-only(lg) {
                    font-size: 1.2em;
                    padding-left: 80px;
                    margin-bottom: 50px;
                }
                @include media-breakpoint-only(md) {
                    font-size: 1.1em;
                    padding-left: 70px;
                    margin-bottom: 40px;
                }
                @include media-breakpoint-down(sm) {
                    font-size: 0.82em;
                    padding-left: 55px;
                    margin-bottom: 40px;
                }
                &:nth-of-type(even){
                    i {
                        background: $dark;
                    }
                }
                i {
                    @include centre(y);
                    left: 0;
                    width: 56px;
                    height: 56px;
                    line-height: 56px;
                    background: $orange;
                    border-radius: 50%;
                    font-size: 32px;
                    text-align: center;
                    color: #fff;
                    @include breakpoint (desktop) {
                        width: 50px;
                        height: 50px;
                        line-height: 50px;
                        font-size: 28px;
                    }
                    @include media-breakpoint-only(lg) {
                        width: 46px;
                        height: 46px;
                        line-height: 46px;
                        font-size: 24px;
                    }
                    @include media-breakpoint-only(md) {
                        width: 40px;
                        height: 40px;
                        line-height: 40px;
                        font-size: 22px;
                    }
                    @include media-breakpoint-down(sm) {
                        width: 40px;
                        height: 40px;
                        line-height: 40px;
                        font-size: 22px;
                    }
                }
                &:hover {
                    color: $orange;
                }
            }
        }
        .contact-form {
            margin-top: 45px;
            position: relative;
            form {
                .bootstrap-select {
                    width: 100%;
                }
                .row {
                    @include media-breakpoint-up(xl) {
                        margin-left: -47px;
                        margin-right: -47px;
                    }
                }
                [class*="col-"] {
                    @include media-breakpoint-up(xl) {
                        padding-left: 47px;
                        padding-right: 47px;
                    }
                    &:last-of-type {
                        @include media-breakpoint-up(xl) {
                            text-align: right;
                        }
                    }
                }
                .form-group {
                    position: relative;
                    width: 100%;
                    margin-bottom: 40px;
                    @include media-breakpoint-down(sm) {
                        margin-bottom: 30px;
                    }
                    i {
                        @include centre(y);
                        left: 20px;
                        font-size: 22px;
                        color: $dark2;
                    }
                }
                input[type=text],
                input[type=email],
                input[type=tel],
                input[type=number],
                textarea,
                .bootstrap-select .btn {
                    @include input-style;
                    height: 68px;
                }
                button[type="submit"] {
                    @include orange-btn;
                    margin-right: 58px;
                    @include media-breakpoint-down(lg) {
                        margin-right: 0;
                    }
                }
                .contact-info {
                    input[type=text],
                    input[type=email],
                    input[type=tel],
                    input[type=number],
                    textarea,
                    .bootstrap-select .btn {
                       
                    }
                }
                textarea {
                    padding-top: 17px;
                    padding-bottom: 17px;
                    overflow: hidden;
                    min-height: 68px!important;
                    @include media-breakpoint-only(lg) {
                        padding-top: 19px;
                        padding-bottom: 19px;
                    }
                    @include media-breakpoint-down(sm) {
                        padding-top: 16px;
                        min-height: 55px!important;
                    }
                }
            }
            .abh-circles {
                position: absolute;
                z-index: -1;
                bottom: -60px;
                left: -220px;
                width: 260px;
                height: 170px;
                background-color: #fff;
                @include breakpoint (desktop) {
                    left: -100px;
                    bottom: -150px;
                }
                @include media-breakpoint-only(lg) {
                    display: none;
                }
                .orange-circle {
                    width: 130px;
                    height: 130px;
                    border-radius: 50%;
                    background-color: $orange;
                    position: relative;
                }
                .white-circle {
                    width: 156px;
                    height: 156px;
                    border-radius: 50%;
                    background: #696d77;
                    mix-blend-mode: screen;
                    position: absolute;
                    left: 104px;
                    top: 11px;
                }
            }
        }
    }
}