// Import fonts and fonts variables

@font-face {
    font-family: 'Stolzl Bold';
    src: url('../fonts/Stolzl-Bold.woff2') format('woff2'),
        url('../fonts/Stolzl-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Stolzl Medium';
    src: url('../fonts/Stolzl-Medium.woff2') format('woff2'),
        url('../fonts/Stolzl-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Stolzl Regular';
    src: url('../fonts/Stolzl-Regular.woff2') format('woff2'),
        url('../fonts/Stolzl-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Bold';
    src: url('../fonts/ProximaNova-Bold.woff2') format('woff2'),
        url('../fonts/ProximaNova-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Montserrat Regular';
    src: url('../fonts/Montserrat-Regular.woff2') format('woff2'),
        url('../fonts/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



$stol-bold: 'Stolzl Bold';
$stol-med: 'Stolzl Medium';
$stol-reg: 'Stolzl Regular';
$pro-bold: 'Proxima Nova Bold';
$mont-reg: 'Montserrat Regular';

$font-main: 'Stolzl Regular';
$font-heading: 'Stolzl Bold';



body { 
	font: {
		size:$base-size;
		family: $font-main;
	}
	-webkit-text-size-adjust: 100%;  //fix for iOS 
}

p {
    font-family: $stol-reg;
    font-size: 14px;
    line-height: 2;
    color: rgba(#000, 0.5);
    margin-bottom: 30px;
    a {
        &:hover {
            text-decoration: underline;
        }
    }
}

ul {
    list-style: none;
    margin:0px;
    padding:0px;
}

h1, h2, h3, h4, h5, h6 {
}

// reset
a {
    @include animate-fade;
    &:hover {
        text-decoration: none;
    }
}

a, button, input, textarea {
    &:focus {
        outline: none!important;
    }
}

address {
    margin:0px;
    padding:0px;
}

i {
    font-style: normal;
}

