#areas-page {
    margin-bottom: 125px;
    position: relative;
    @include bp(desktop) {
        margin-bottom: 100px;
    }
    @include bp(lg) {
        margin-bottom: 90px;
    }
    @include bp(md) {
        margin-bottom: 70px;
    }
    @include bp(sm-down) {
        margin-bottom: 0px;
    }
    &:before {
        content: '';
        display: block;
        position: absolute;
        background: url(../img/bg/service-circles.svg) 0 0;
        width: 388px;
        height: 180px;
        z-index: -1;
        position: absolute;
        left: calc(50% + 55px);
        top: -50px;
        @include bp(md-down) {
            display: none;
        }
    }
    #services-detailed {
        position: relative;
        z-index: 1;
        .services-detailed-in {
            width: 100%;
            max-width: 1400px;
            margin-left: auto;
            h2 {
                margin-top: 0!important;
            }
        }
        h2 {
            @include heading-font;
            margin-top: 95px;
            margin-bottom: 75px;
            max-width: 1010px;
            width: 100%;
            @include bp(md-down) {
                margin-bottom: 30px;
            }
        }

        p {
            font-size: 1.125em;
            max-width: 880px;
        }
        .services-intro {
            h3 {
               font-family: $stol-reg;
                font-size: 1.500em;
                line-height: 1.2;
                color: $dark2;
                margin-top: 50px;
                margin-bottom: 25px; 
            }
            p {
                font-size: 0.875em;
                max-width: 750px;
                width: 100%;
            }
        }

    }
    .areas-in {
        p {
            max-width: 626px!important;
        }
        ul {
            li {
                &:before {
                    display: none;
                }
            }
        }
        .areas-list {
            margin-top: 110px;
            @include bp(desktop) {
                margin-top: 90px;
            }
            @include bp(lg) {
                margin-top: 70px;
            }
            @include bp(md) {
                margin-top: 60px;
            }
            @include bp(sm-down) {
                margin-top: 55px;
            }
            .col-lg-4 {
                &:nth-child(3n+2) {
                    .area-box {
                        margin-right: auto;
                        margin-left: auto;
                    }
                }
                &:nth-child(3n+3) {
                    .area-box {
                        margin-left: auto;
                    }
                }
            }
            .area-box {
                @include bp(md-down) {
                    margin-bottom: 60px;
                }
            }
            .area-title {
                @include subheading-font;
                display: block;
                margin-bottom: 60px;
                @include bp(desktop) {
                    margin-bottom: 50px;
                }
                @include bp(lg) {
                    margin-bottom: 40px;
                }
                @include bp(md) {
                    margin-bottom: 30px;
                }
                @include bp(sm-down) {
                    margin-bottom: 25px;
                }
            }
            ul {
                >li {
                    margin-top: 35px;
                    margin-bottom: 35px;
                    @include bp(sm-down) {
                        margin-top: 25px;
                        margin-bottom: 25px;
                    }
                    .dropdown-toggle {
                        position: relative;
                        &:after {
                            display: none;
                        }
                    }
                    &.dropdown:hover>.dropdown-menu.fade {
                        pointer-events: auto;
                        opacity: 1;
                    }

                    a {
                        @include subheading-font2;
                        color: inherit;
                        text-transform: uppercase;
                        &:hover {
                            color: $orange;
                        }
                    }
                    .dropdown-menu {
                        border:0;
                        top: -5px!important;
                        left: 290px!important;
                        transform: none!important;
                        padding-top: 8px;
                        padding-bottom: 8px;
                        margin-top: 0;
                        max-width: 250px;
                        @include bp(lg-down) {
                            left: auto!important;
                            right: 0!important;
                            padding: 8px 15px;
                            background-color: #fff;
                        }
                        @include bp(md) {
                            left: 220px!important;
                            right: auto!important;
                            padding: 8px 15px;
                            background-color: #fff;
                        }
                        &.fade {
                            display: block;
                            opacity: 0;
                            pointer-events: none;
                        }
                        li {
                            margin:0;
                            a {
                                font-family: $stol-reg;
                                display: inline-block;
                                font-size: 0.875em;
                                text-transform: uppercase;
                                padding-top: 6px;
                                padding-bottom: 6px;
                            }
                        }
                    }
                }
            }
        }
    }
}