//QUOTE

#quote-intro {
    padding-top: 65px;
    padding-bottom: 140px;
    position: relative;
    @include bp(desktop) {
        padding-top: 60px;
        padding-bottom: 100px;
    }
    @include bp(lg) {
        padding-top: 55px;
        padding-bottom: 80px;
    }
    @include bp(md) {
        padding-top: 50px;
        padding-bottom: 70px;
    }
    @include bp(sm-down) {
        padding-top: 50px;
        padding-bottom: 60px;
    }
    h1 {
        text-align: center;
        @include page-title;
        text-transform: uppercase;
        margin-bottom: 50px;
    }
    h2 {
        text-align: center;
        margin-bottom: 50px;
    }
    .quote-intro-in {
        max-width: 1300px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    form {
        .bootstrap-select {
            width: 100%;
        }
        .row {
            @include bp(lg-up) {
                margin-left: -55px;
                margin-right: -55px;
            }
        }
        [class*="col-"] {
            @include bp(lg-up) {
                padding-left: 55px;
                padding-right: 55px;
            }
        }
        .checkbox {
            label {
                @include input-style;
                margin: 0;
                padding-top: 0;
                padding-bottom: 0;
                display: flex;
                align-items: center;
                padding-left: 20px;
                &:hover {
                    cursor: pointer;
                }

            }
        }
        .form-group {
            position: relative;
            width: 100%;
            margin-bottom: 40px;
            @include bp(sm-down) {
                margin-bottom: 30px;
            }
            i {
                @include centre(y);
                left: 20px;
                font-size: 22px;
                color: $dark2;
                @include bp(md-down) {
                    font-size: 18px;
                }
            }
        }
        input[type=text], input[type=email], input[type=tel], input[type=number], textarea, .bootstrap-select .btn {
            @include input-style;
            @include bp(md) {
                padding-left: 50px;
            }
            @include bp(sm-down) {
                padding-left: 45px;
            }
        }
        .bootstrap-select .btn {
            line-height: 86px!important;
        }
        .bootstrap-select .btn {
            @include bp(md-down) {
                padding-left: 20px;
                padding-right: 20px;
            }
        }
        button[type="submit"] {
           @include orange-btn;
           margin-left: 38px;
           @include bp(lg-down) {
                margin-left: 0;
            }
        }
        span.form-title {
            @include subheading-font3;
            display: block;
            margin-bottom: 35px;
        }
        .dropdown-toggle .filter-option {
            height: auto;
        }
        .car-row {
            margin-top: 15px;
            input[type=text], input[type=number] {
                font-family: $stol-reg;
                font-size: 1.125em;
                color: #2d2d2d;
                display: block;
                width: 100%;
                border: 0;
                border-bottom: 1px solid #707070;
                height: 30px;
                padding: 0 32px;
                border-radius: 0;
                @include input-placeholder {
                    color: #8d8d8d;
                }
                @include bp(md) {
                    height: 65px;
                    font-size: 1em;
                    padding: 0 30px;
                }
                @include bp(sm-down) {
                    height: 55px;
                    font-size: 1em;
                    padding: 0 25px;
                }
            }
        }
        .contact-info {
            input[type=text], input[type=email], input[type=tel], input[type=number], textarea, .bootstrap-select .btn {
                height: 68px;
                @include bp(md-down) {
                    padding-left: 20px;
                    padding-right: 20px;
                }
            }
        }
        input[type=checkbox] { display:none; } /* to hide the checkbox itself */
        input[type=checkbox] + label:before {
            font-family: 'Font Awesome 5 Pro';
            display: inline-block;
        }
        input[type=checkbox] + label:before { content: "\f0c8"; font-weight: 300;} /* unchecked icon */
        input[type=checkbox] + label:before { letter-spacing: 10px; } /* space between checkbox and label */
        input[type=checkbox]:checked + label:before { content: "\f00c"; font-weight: 900;} /* checked icon */
        //input[type=checkbox]:checked + label:before { letter-spacing: 5px; } /* allow space for check mark */

        textarea {
            padding-top: 17px;
            padding-bottom: 17px;
            overflow: hidden;
            min-height: 68px;
            @include bp(lg) {
                padding-top: 19px;
                padding-bottom: 19px;
            }
            @include bp(md) {
                padding-top: 21px;
                padding-bottom: 21px;
            }
            @include bp(sm-down) {
                padding-top: 16px;
                min-height: 55px!important;
            }
        }
    }
    .orange-circle-big {
        position: absolute; 
        left: calc(50% + 55px);
        bottom: -90px;
        z-index: 1;
        @include bp(md) {
            bottom: -50px;
        }
        @include bp(sm-down) {
            display: none;
        }
    }
}

#quote-info {
    padding-top: 160px;
    padding-bottom: 200px;
    @include bp(desktop) {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    @include bp(lg) {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    @include bp(md) {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    @include bp(sm-down) {
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .row {
        align-items: center;
    }
    h3 {
        @include subheading-font;
        margin-top: 85px;
        margin-bottom: 40px;
        @include bp(desktop) {
            margin-top: 75px;
            margin-bottom: 35px;
        }
        @include bp(lg) {
            margin-top: 65px;
            margin-bottom: 35px;
        }
        @include bp(md) {
            margin-top: 55px;
            margin-bottom: 30px;
        }
        @include bp(sm-down) {
            margin-top: 50px;
            margin-bottom: 30px;
        }
        &:first-of-type {
            margin-top: 0;
        }
    }
}
.quote-photo {
    img {
        display: block;
        margin-left: auto;
        border-radius: 40px;
        border: 10px solid #fff; 
        @include bp(md-down) {
            margin-left: auto;
            margin-right: auto;
        }
    }
}

#moving-steps {
    padding-top: 100px;
    padding-bottom: 80px;
    background: rgba(223, 233, 241, 0.63);
    @include bp(desktop) {
        padding-top: 90px;
        padding-bottom: 70px;
    }
    @include bp(lg) {
        padding-top: 80px;
        padding-bottom: 60px;
    }
    @include bp(md) {
        padding-top: 70px;
        padding-bottom: 50px;
    }
    @include bp(sm-down) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    h2 {
        @include heading-font;
        color: $orange;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 150px;
        max-width: 1270px;
        @include bp(desktop) {
            margin-bottom: 110px;
        }
        @include bp(lg) {
            margin-bottom: 90px;
        }
        @include bp(md) {
            margin-bottom: 80px;
        }
        @include bp(sm-down) {
            margin-bottom: 60px;
        }
    }
    .moving-steps-text {
        @include bp(md) {
            margin-bottom: 30px;
        }
        ul {
            @include list-style;
        }
    }
    p {
        &:last-of-type {
            margin-bottom: 15px;
        }
    }
}

#price-factors {
    padding-top: 105px;
    padding-bottom: 140px;
    @include bp(desktop) {
        padding-top: 90px;
        padding-bottom: 110px;
    }
    @include bp(lg) {
        padding-top: 80px;
        padding-bottom: 100px;
    }
    @include bp(md) {
        padding-top: 70px;
        padding-bottom: 80px;
    }
    @include bp(sm-down) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .row {
        align-items: end;
    }
    .price-factors-photo {
        @include bp(md) {
            margin-top: 50px;
        }
    }
    h2 {
        @include heading-font;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 100px;
        max-width: 1270px;
        color: #000;
        @include bp(desktop) {
            margin-bottom: 90px;
        }
        @include bp(lg) {
            margin-bottom: 80px;
        }
        @include bp(md) {
            margin-bottom: 70px;
        }
        @include bp(sm-down) {
            margin-bottom: 60px;
        }
    }
    p {
        &:last-of-type {
            margin-bottom: 0;
        }
    }
    #price-factors-faq {
        margin-top: 80px;
        max-width: 620px;
        width: 100%;
        @include bp(desktop) {
            margin-top: 70px;
        }
        @include bp(lg) {
            margin-top: 60px;
        }
        @include bp(md) {
            margin-top: 50px;
        }
        @include bp(sm-down) {
            margin-top: 50px;
            margin-bottom: 50px;
        }
        h3 {
            font-family: $stol-bold;
            font-size: 1.125em;
            line-height: 1.555;
            text-align: left;
            color: rgba(#000, .5);
            background-color: #fff;
            position: relative;
            padding: 22px 210px 14px 30px;
            margin: 0;
            border-radius: 4px;
            background: #f4fbfb;
            border: 1px solid rgba(#707070, .34);
            @include animate-fade;
            @include bp(desktop) {
                padding: 22px 110px 14px 30px;
            }
            @include bp(lg) {
                padding: 22px 70px 20px 30px;
            }
            @include bp(md) {
                padding: 22px 50px 20px 30px;
                font-size: 1.1em;

            }
            @include bp(sm-down) {
                padding: 22px 50px 20px 30px;
                font-size: 1.1em;
            }
            @include animate-fade;
            &:hover {
                cursor: pointer;
                color: rgba(#000, .8);
            }
            &:focus {
                outline: none!important;
            }
            &:after {
                font-family: "icomoon";
                content: "\e913";
                @include centre(y);
                right: 180px;
                font-size: 18px;
                font-weight: 900;
                color: #2d2d2d;
                @include animate-fade;
                @include bp(desktop) {
                    right: 80px;
                }
                @include bp(lg) {
                    right: 40px;
                }
                @include bp(md) {
                    right: 20px;
                }
                @include bp(sm-down) {
                    right: 20px;
                }
            }
            &.active {
                color: rgba(#000, .8);
                &:after {
                    -webkit-transform: translateY(-50%) rotate(45deg);
                    -moz-transform: translateY(-50%) rotate(45deg);
                    -ms-transform: translateY(-50%) rotate(45deg);
                    -o-transform: translateY(-50%) rotate(45deg);
                    transform: translateY(-50%) rotate(45deg);
                }
            }
        }
        .ui-accordion-content {
            padding: 15px 17px;
            border:0;
            background-color: #fff;
        }
    }
}


#bottom-cta {
    background-color: $dark2;
    padding-top: 113px;
    padding-bottom: 117px;
    position: relative;
    margin-bottom: 166px;
    min-height: 1080px;
    @include bp(desktop) {
        padding-top: 90px;
        padding-bottom: 110px;
    }
    @include bp(lg) {
        padding-top: 80px;
        padding-bottom: 100px;
        min-height: auto;
        margin-bottom: 120px;
    }
    @include bp(md) {
        padding-top: 70px;
        padding-bottom: 80px;
        min-height: auto;
        margin-bottom: 120px;
    }
    @include bp(sm-down) {
        padding-top: 60px;
        padding-bottom: 60px;
        min-height: auto;
        margin-bottom: 60px;
    }
    .col-md-12 {
        position: static;
    }
    h2 {
        max-width: 780px;
        width: 100%;
        @include heading-font;
        color: #fff;
        text-transform: capitalize;
        margin-bottom: 80px;
        @include bp(desktop) {
            margin-bottom: 70px;
        }
        @include bp(lg) {
            margin-bottom: 60px;
        }
        @include bp(md) {
            margin-bottom: 50px;
        }
        @include bp(sm-down) {
            margin-bottom: 40px;
        }
    }
    .bottom-cta-text {
        max-width: 880px;
        width: 100%;
        p {
            color: rgba(#fff, 0.5);
        }
    }
    .bottom-cta-photo {
        position: absolute;
        right: 0;
        bottom: 117px;
        width: 44.53vw;
        max-width: 823px;
    }
}

.button-left {
    button {
        margin-left: 0px!important;
        margin-bottom: 25px;
    }
}